<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

    <h1>Welcome to MoneyMinder: user.index</h1>
    <h2>An app for people who want to sort and categorize their budget</h2>
    <p>under construction</p>
    <p>this page should allow you to create and edit accounts</p>
    <h1 th:text="|Welcome ${user.username}|">Default welcome</h1>
    <h1 th:text="|accounts ${user.accounts}|">Default welcome</h1>
    <a href="/account">Click here to create new accounts</a>

</body>
</html>