<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <h1 th:text="${title}"></h1>

                <form method="post" style="max-width:600px;">
                    <input type="submit" class="btn btn-sm btn-primary" value="Logout"/>
                </form>
        </div>
    </div>
</div>

</body>
</html>