body {
    padding-top:5em;
    color: #44444;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.btn-default, .btn-primary, .btn-default:active, .btn-primary:active, .btn.btn-primary.btn-sm:active,
.btn-default:focus, .btn-primary:focus, .btn.btn-primary.btn-sm:focus{
    background-color: #518989;
    border-color: #518989;
    opacity: 0.85;
}

.btn-primary:hover {
    background-color: #518989;
    border-color: #518989;
    opacity: 1;
}

.navbar {
    background-color: #4f5051;
    border-color: #4f5051;
    color: white;
}

.navbar-inverse .navbar-brand, .navbar .nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand:hover, .navbar .nav > li > a:hover {
    color: silver;
}
