body {
    padding-top:5em;
    color: #44444;
}

.welcome-body {
    padding-top:3.5em;
    color: #44444;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.btn-default, .btn-primary, .btn-default:active, .btn-primary:active, .btn.btn-primary.btn-sm:active,
.btn-default:focus, .btn-primary:focus, .btn.btn-primary.btn-sm:focus{
    background-color: #518989;
    border-color: #518989;
    opacity: 0.85;
}

.btn-primary:hover {
    background-color: #518989;
    border-color: #518989;
    opacity: 1;
}

.navbar {
    background-color: #4f5051;
    border-color: #4f5051;
    color: white;
}

.navbar-inverse .navbar-brand, .navbar .nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand:hover, .navbar .nav > li > a:hover {
    color: silver;
}

.red {
    color: #a03838;
}

.welcome {
    font-size: 500%;
    text-align: center;
    padding: 0.5em;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    margin: 50px 20px 50px 20px;
    justify content: space-evenly;
    padding: 5px;
}

.grid-container > div {
    background-color: #518989;
    opacity: 0.85;
    text-align: center;
    color: white;
    padding: 20px 20px;
    font-size: 24px;
    position: relative;
}

.grid-span {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome2 {
    font-size: 300%;
    color: #4f5051;
    padding-top: 1em;
}

.welcome2, .welcome3 {
    text-align: center;
}

.welcome-link {
    padding: 0.5em;
    margin: 0 1em;
    color: #518989;
}

.welcome-link:hover, a:hover {
    color: #4f5051;
}

.welcome4 {
    background-color: #b5cccc;
    padding: 1em 0;
    border-bottom: 3px solid #518989;
    font-family: 'Josefin Sans', sans-serif;
    color: #4f5051;
}

.login-link {
    padding: 2em 0;
    margin: 0em;
    color: #518989;
    display: inline-block;
}

footer {
    display: block;
}


.disclaimer {
    color: #932435;
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 40%;
    border: 3px solid #932435;
    padding: 15px;
    text-align: center;
}

