<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post" action="/account/add-item" style="max-width:600px;" th:object="${form}">

    <div class="form-group">
        <label th:for="transaction" name="transactionId" th:field="*{transaction.id}">Transactions</label>
        <select name="transactionId">
            <option th:each="transaction : ${form.transactions}"
                    th:value="${transaction.id}"
                    th:selected="(${transaction.id} == ${selected})"
                    th:text="${transaction.name}">
            </option>
        </select>
        <span th:errors="*{transactionId}" class="error"></span>
        <br />
        <span th:text="${errorMessage}"></span>
    </div>

    <input type="hidden" name="accountId" th:value="*{account.id}" />

    <input type="submit" value="Add Transaction" />
</form>

</body>
</html>