<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post"  action="/account/edit" style="max-width:600px;" th:object="${account}">

    <input type="hidden" th:value="${account.id}" name="accountId" />
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" required="true" />
        <span th:errors="*{name}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label th:for="name">Minimum</label>
        <p class="text-info">Optional: set a minimum value to maintain</p>
        <input class="form-control" th:field="*{minimum}" type="number" min=".00" max="1000000" step="0.01" placeholder="0.00"  />
    </div>

    <div class="form-group">
        <label th:for="name">Goal</label>
        <p class="text-info">Optional: set a goal amount to achieve</p>
        <input class="form-control" th:field="*{goal}" type="number" min=".00" max="1000000" step="0.01" placeholder="0.00" />
    </div>

    <input type="submit" class="btn btn-sm btn-primary" value="Submit" />
    <span th:if="${balance} == 0"><a th:href="@{'/account/remove/' + ${account.id}}" class="btn btn-sm btn-danger" value="Delete Account" >Delete Account</a></span>
    <span th:if="${balance} != 0"><a th:href="@{'/account/remove/' + ${account.id}}" class="btn btn-sm btn-danger disabled" value="Delete Account" >Delete Account</a></span>
    <span th:if="${balance} != 0" class="text-warning">Only accounts with a balance of $0.00 may be deleted.</span>
</form>

</body>
</html>