<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<h1>Account index</h1>
<p>this page should allow you to create and edit accounts</p>
<h1 th:if="${session.user}" th:text="|Hello ${session.user.username}|">Default welcome</h1>

<p th:unless="${userAccounts} and ${userAccounts.size()}">No accounts yet</p>

<div class="well">
    <div class="row">
        <div class="col-md-6" ><h4 th:text="|${{session.user.username}}'s Accounts|"></h4></div>
        <div class="col-md-6"><h4 th:text="|Grand Total = $${{session.user.userTotal}}|"></h4></div>
    </div>
</div>
<table th:if="${userAccounts} and ${userAccounts.size()}" class="table">
    <tr>
        <th class="col-md-6">Account</th>
        <th class="col-md-4">Total</th>
    </tr>
    <tr class="list-group" th:if="${userAccounts}" th:each="account : ${userAccounts}">
        <td><a class="list-group-item" th:href="@{'/account/view/' + ${account.id}}" th:text="${{account.name}}"></a></td>
        <!-- TODO make sure this formatting still works for dollar amounts greater than $10 -->
        <td th:text="|$${#numbers.formatDecimal(account.total, 1,2)}|"></td>
    </tr>
</table>

<a th:href="@{'/account/add'}" class="btn btn-sm btn-primary">Add Account</a>

</body>
</html>