<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<!-- <p th:unless="${account.transactions} and ${account.transactions.size()}">No cheeses yet</p>

<ul th:each="transaction : ${account.transactions}">
    <li th:text="${transaction.name}">Account items</li>
</ul> -->

<p th:if="${session.user}" th:utext="|Welcome ${session.user.username}|"></p>

<p th:unless="${accounts} and ${accounts.size()}">No transactions yet</p>

<ul th:each="account : ${accounts}">
    <li th:text="${account.name}">Accounts</li>
</ul>

<p><a th:href="'/account/add-item/' + ${account.id}" class="btn btn-sm btn-primary">Add transaction</a></p>

</body>
</html>