<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post"  style="max-width:600px;">

    <input type="hidden" th:object="${user}" th:value="${session.user.id}" name="userId" />

    <div class="form-group">
        <label name="account">Account</label>
        <select th:object="${account}" name="accountId">
            <option value="0">All Accounts</option>
            <option th:each="account : ${userAccounts}"
                    th:text="${account.name}"
                    th:value="${account.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label name="categoryId">Category</label>
        <select th:object="${category}" name="categoryId">
            <option value="0">All Categories</option>
            <option th:each="category : ${userCategories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label name="fromDate">From Date</label>
        <input class="form-control"  name="fromDate" type="date" required="true" />
    </div>

    <div class="form-group">
        <label name="toDate">To Date</label>
        <input class="form-control" name="toDate" type="date" required="true" />
    </div>

    <input type="submit" class="btn btn-sm btn-primary" value="Submit" />
</form>

</body>
</html>