<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post"  action="/category/edit" style="max-width:600px;" th:object="${category}">

    <input type="hidden" th:value="${category.id}" name="categoryId" />
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" required="true" />
        <span th:errors="*{name}" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-sm btn-primary" value="Submit" />
    <span th:if="${usedCategory} == false"><a th:href="@{'/category/remove/' + ${category.id}}" class="btn btn-sm btn-danger" value="Delete Category" >Delete Category</a></span>
    <span th:if="${usedCategory} == true"><a th:href="@{'/category/remove/' + ${category.id}}" class="btn btn-sm btn-danger disabled" value="Delete Category" >Delete Category</a></span>
    <span th:if="${usedCategory} == true" class="text-warning">Only categories that are not tied to transactions may be deleted.</span>

</form>

</body>
</html>