<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

    <title th:text="${title}">MoneyMinder</title>
</head>

<body>

    <div th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="nav navbar-brand" th:href="@{/MoneyMinder}">MoneyMinder</a>
            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li th:if="${session.user}"><a th:href="@{/MoneyMinder}"></a></li>
                        <li th:if="${session.user}"><a th:href="@{/account}">Accounts</a></li>
                        <li th:if="${session.user}"><a th:href="@{/category}">Categories</a></li>
                        <li th:if="${session.user}"><a th:href="@{/transaction/add}">Transaction</a></li>
                        <li th:if="${session.user}"><a th:href="@{/transaction/transfer}">Transfer</a></li>
                        <li th:if="${session.user}"><a th:href="@{/transaction/view}">View Transactions</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.user}"><a th:href="@{/user/logout}">Logout</a></li>
                        <li th:if="!${session.user}"><a th:href="@{/user/login}">Login</a></li>
                    </ul>
                </div>
        </div>
    </div>

</body>
</html>