<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="welcome-body">

<div class="welcome4">
    <h1 class="welcome">MoneyMinder</h1>
</div>
<div>
    <h2 class="welcome2">Customize Your Budget</h2>
</div>
<div class="container">

    <div class="grid-container">
        <div><p class="grid-span">Create Accounts  Create Categories Set Goals</p></div>
        <div><p class="grid-span">Unify data across accounts</p></div>
        <div><p class="grid-span">Categorize and track your spending and your savings</p></div>
        <div><p class="grid-span">Set aside funds for specific purposes</p></div>
    </div>

    <div class="welcome3">
        <a th:if="${user}==null" href="user/register" class="welcome-link">Register for a new account</a>
        <a th:if="${user}==null" href="user/login" class="welcome-link">Login to an existing account</a>
    </div>
    <div class="disclaimer">
        <p>Disclaimer: This app is for demonstration purposes only.  It is not supported.  Data entered may disappear at any time.</p>
    </div>
</div>
</body>
</html>