<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<h1>Welcome to MoneyMinder:</h1>
<h2>An app for people who want to sort and categorize their budget</h2>
<p>under construction</p>
<p>Today is: <span th:text="${today}"></span></p>
<p th:if="${session.user}" th:utext="|Welcome ${session.user.username}|"></p>

<p th:if="${user}==null"><a href="user/register">Register for a new account</a></p>
<p th:if="${user}==null"><a href="user/login">Login to an existing account</a></p>


</body>
</html>