<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<div class="container-fluid">

    <h1 th:text="${title}">Default Title</h1>
    <h1 class="welcome">MoneyMinder</h1>
    <h2 class="welcome2">Customize Your Budget</h2>

    <div class="grid-container">
        <div><p>Create Accounts Set Goals</p></div>
        <div><p>Unify data across accounts</p></div>
        <div><p>Categorize and track your spending and your savings</p></div>
        <div><p>Set aside funds for specific purposes</p></div>
    </div>

    <div class="welcome3">
        <a th:if="${user}==null" href="user/register" class="btn btn-sm btn-primary">Register for a new account</a>
        <a th:if="${user}==null" href="user/login" class="btn btn-sm btn-primary">Login to an existing account</a>
    </div>

</div>
</body>
</html>